@(implicit req: RequestHeader, username: String, currentChatroom: String,  allChatRooms: Iterable[String])


  <div class="col s4 m3 l3 chatroomPanel teal lighten-1">
    <div class = "row">
      <div class = "col s12">
        <h4 class = "">Communicourse</h4>
      </div>
      <div class = "col s12">
        <ul class = "chatroomPanel__chatrooms collection">
          @for(chatroom <- allChatRooms) {

            @if(currentChatroom == chatroom){
              <li class="collection-item teal current_room"><div>
                @chatroom
                <a href="@routes.Application.chat(username, chatroom)" class="secondary-content"><i class="material-icons pink-text">send</i></a></div></li>
            }else{
              <li class="collection-item teal"><div>
                @chatroom
                <a href="@routes.Application.chat(username, chatroom)" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            }
          }
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <form  action='@routes.Application.createChatroom()' method="post" >
          <input placeholder="New Room" id="newRoom_name" type="text" class="validate" name="name">
          <label for="user_name"></label>
          <input type="submit" class="waves-effect waves-light btn" value="New Room">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>New Room</a>
        <a class="waves-effect waves-light btn" href = "@routes.Application.upload()"><i class="material-icons right">move_to_inbox</i>UniBox</a>
      </div>
    </div>


  </div>