*{
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
html, body {
    height: 100%;
    padding:0px;
    margin:0px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:lighter!important;
}

.root {
    height: 100%;
    margin-bottom: 0px!important;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.messageWrapper {
    margin-bottom: .3em;
    display: block;

}

.myMessage {
    max-width: 70%;
    padding-left: .5em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background: white;
    color: black;
    border-radius: 4px;
    display: inline-block;
}

.botMessage {
    max-width: 70%;
    color: white!important;
    padding-left: .5em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background: #ff9800;
    color: black;
    border-radius: 4px;
    display: inline-block;
}

.friendsMessage {
    max-width: 70%;
    color: white!important;
    padding-left: .5em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background: #009688;
    color: black;
    border-radius: 4px;
    display: inline-block;
}

#chat {
    height: 97%;
    overflow-y: scroll!important;
}

.chatPanel {
    padding: 1em!important;
    padding-bottom: 4em!important;
    height:100%;
}

.chatroomPanel {
    height:100%;
    width: 100%;
    position: relative;
    color: whitesmoke!important;
}

input.chatPanel__input {
    position: absolute;
    width: 70%!important;
    bottom: 0;
    padding: 1em!important;
    background: whitesmoke!important;
    border-radius: 5px!important;
}

.login-button{
    width: 50%;
    margin: auto;
}

.halfWidth {
    width: 50%;
}

.current_room {
    font-weight: 500!important;
}


.responsive-image {
    max-width: 100%;
}
.imagesAndDocumentsPanel {
    height: 100%;
    overflow: scroll;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.pointer{
    cursor: pointer;
}
.hideForm {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ef5350;
}

.uploadFileForm {
    z-index: 999!important;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.uploadFileForm div {
    margin: 1rem;
}

.underline {
    text-decoration: underline;
}


.chatroomPanel__chatrooms {
    border: 1px solid #00897b!important;
}

.chatroomPanel__chatrooms .collection-item {
    border-bottom: 1px solid #00897b!important;
}


*::-webkit-input-placeholder {
    color: #4db6ac!important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #4db6ac!important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #4db6ac!important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #4db6ac!important;
}