@(implicit req: RequestHeader,username: String, role: String, allChatRooms: Iterable[String], uploads: Seq[(String, Long, String, Long, Long)])
@main("Box") {

  <form class = "uploadFileForm" action="@routes.Application.upload" method="post" enctype="multipart/form-data">
    <div>
      <input type="file" class = "inputfile" id="file" name="file" onchange="javascript:this.form.submit();"/>
      <label class = "btn-floating btn-large waves-effect waves-light red" for="file"><i class="material-icons">add</i></label>
    </div>

  </form>


  <div class="row root">

    @templates.chatroom_panel(req, username, role, "", allChatRooms)


    <div class="col s8 m9 l9 chatPanel imagesAndDocumentsPanel grey lighten-2" >

      <div class="row">
        <div class = "col s12 l6">
          <ul class = "collection">
            <li class="collection-header"><h4>Images</h4></li>
            @for(upload <- uploads){
              @if(upload._3.contains("image")){
              <li class="collection-item avatar">
                <i class="material-icons pink circle">insert_photo</i>
                <a href="@routes.Assets.at("uploaded"+upload._3)">
                  <span class="title">@upload._3.substring(upload._3.lastIndexOf("/")+1)</span>
                </a>
                <p>by @upload._1<br>
                  @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) < 1){
                    @((System.currentTimeMillis()/1000 - upload._4)/60) minutes ago
                  }
                  @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) >24){
                    @((System.currentTimeMillis()/1000 - upload._4)/60/60/60) days ago
                  }
                  @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) < 24 && ((System.currentTimeMillis()/1000 - upload._4)/60/60) > 1){
                    @((System.currentTimeMillis()/1000 - upload._4)/60/60) hours ago
                  }
                </p>
                @if(username == upload._1){
                  <form action="@routes.Application.deleteUpload(upload._5)" method="post" class ="secondary-content">
                      <input type="submit" class = "hideForm" id="submit" name="submit"/>
                      <label class ="pointer" for="submit"><i class="material-icons red-text text-lighten-2">delete</i></label>
                  </form>
                }
              </li>
              }
            }
          </ul>
        </div>
        <div class = "col s12 l6">
          <ul class = "collection">
            <li class="collection-header"><h4>Documents</h4></li>
            @for(upload <- uploads){
              @if(upload._3.contains("document")){
                <li class="collection-item avatar">
                  <i class="material-icons teal circle">attach_file</i>
                  <a href="@routes.Assets.at("uploaded"+upload._3)">
                    <span class="title">@upload._3.substring(upload._3.lastIndexOf("/")+1)</span>
                  </a>
                  <p>by @upload._1<br>
                    @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) < 1){
                      @((System.currentTimeMillis()/1000 - upload._4)/60) minutes ago
                    }
                    @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) >24){
                      @((System.currentTimeMillis()/1000 - upload._4)/60/60/60) days ago
                    }
                    @if(((System.currentTimeMillis()/1000 - upload._4)/60/60) < 24 && ((System.currentTimeMillis()/1000 - upload._4)/60/60) > 1){
                      @((System.currentTimeMillis()/1000 - upload._4)/60/60) hours ago
                    }
                  </p>
                  @if(username == upload._1){
                    <a href="@routes.Application.deleteUpload(upload._5)" class="secondary-content"><i class="material-icons red-text text-lighten-2">delete</i></a>
                  }
                </li>
              }
            }
          </ul>
        </div>
      </div>



    </div>

  </div>

}